In [44]:
#exercício de DataFrames no Pandas

In [43]:
import pandas as pd

In [45]:
# Criar o DataFrame com os dados fornecidos
cidades_br = pd.DataFrame({
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Estado': ['SP', 'RJ', 'MG', 'RS', 'PR'],
    'População (milhões)': [12.3, 6.7, 2.5, 1.5, 1.9],
    'Capital': [True, True, True, True, True]
})
Cidades = pd.DataFrame(cidades_br)
print(Cidades)

           Cidade Estado  População (milhões)  Capital
0       São Paulo     SP                 12.3     True
1  Rio de Janeiro     RJ                  6.7     True
2  Belo Horizonte     MG                  2.5     True
3    Porto Alegre     RS                  1.5     True
4        Curitiba     PR                  1.9     True

In [46]:
# Exibir as 3 primeiras linhas
print(Cidades.head(3))

           Cidade Estado  População (milhões)  Capital
0       São Paulo     SP                 12.3     True
1  Rio de Janeiro     RJ                  6.7     True
2  Belo Horizonte     MG                  2.5     True

In [47]:
# Exibir 2 linhas aleatórias
print(Cidades.sample(2))

           Cidade Estado  População (milhões)  Capital
1  Rio de Janeiro     RJ                  6.7     True
3    Porto Alegre     RS                  1.5     True

In [48]:
# Seleção de colunas
print(Cidades[['Cidade']])
print(Cidades[['Estado', 'População (milhões)']])

           Cidade
0       São Paulo
1  Rio de Janeiro
2  Belo Horizonte
3    Porto Alegre
4        Curitiba
  Estado  População (milhões)
0     SP                 12.3
1     RJ                  6.7
2     MG                  2.5
3     RS                  1.5
4     PR                  1.9

In [49]:
# Adicionando coluna Área
Cidades['Area (km²)'] = [1521, 1200, 331, 496, 435]
print(Cidades)

           Cidade Estado  População (milhões)  Capital  Area (km²)
0       São Paulo     SP                 12.3     True        1521
1  Rio de Janeiro     RJ                  6.7     True        1200
2  Belo Horizonte     MG                  2.5     True         331
3    Porto Alegre     RS                  1.5     True         496
4        Curitiba     PR                  1.9     True         435

In [50]:
# Alterar Capital para False em Porto Alegre e Curitiba
Cidades.loc[Cidades['Cidade'].isin(['Porto Alegre', 'Curitiba']), 'Capital'] = False
print(Cidades)

           Cidade Estado  População (milhões)  Capital  Area (km²)
0       São Paulo     SP                 12.3     True        1521
1  Rio de Janeiro     RJ                  6.7     True        1200
2  Belo Horizonte     MG                  2.5     True         331
3    Porto Alegre     RS                  1.5    False         496
4        Curitiba     PR                  1.9    False         435

In [51]:
# Renomear colunas
Cidades = Cidades.rename(columns={
    'Cidade': 'Nome da Cidade',
    'Estado': 'UF',
    'População (milhões)': 'Habitantes (M)',
    'Capital': 'É Capital',
    'Area (km²)': 'Tamanho (km²)'
})
print(Cidades)

   Nome da Cidade  UF  Habitantes (M)  É Capital  Tamanho (km²)
0       São Paulo  SP            12.3       True           1521
1  Rio de Janeiro  RJ             6.7       True           1200
2  Belo Horizonte  MG             2.5       True            331
3    Porto Alegre  RS             1.5      False            496
4        Curitiba  PR             1.9      False            435

In [52]:
# Descrição estatística
print(Cidades.describe())

       Habitantes (M)  Tamanho (km²)
count        5.000000       5.000000
mean         4.980000     796.600000
std          4.590425     530.420871
min          1.500000     331.000000
25%          1.900000     435.000000
50%          2.500000     496.000000
75%          6.700000    1200.000000
max         12.300000    1521.000000

In [53]:
# Filtrar cidades com população > 2.0
print(Cidades[Cidades['Habitantes (M)'] > 2.0])

   Nome da Cidade  UF  Habitantes (M)  É Capital  Tamanho (km²)
0       São Paulo  SP            12.3       True           1521
1  Rio de Janeiro  RJ             6.7       True           1200
2  Belo Horizonte  MG             2.5       True            331

In [54]:
# Remover coluna Tamanho
Cidades = Cidades.drop(columns=['Tamanho (km²)'])
print(Cidades)

   Nome da Cidade  UF  Habitantes (M)  É Capital
0       São Paulo  SP            12.3       True
1  Rio de Janeiro  RJ             6.7       True
2  Belo Horizonte  MG             2.5       True
3    Porto Alegre  RS             1.5      False
4        Curitiba  PR             1.9      False

In [55]:
# Primeira linha
print(Cidades.iloc[0:1])

  Nome da Cidade  UF  Habitantes (M)  É Capital
0      São Paulo  SP            12.3       True

In [56]:
# Linhas de 1 a 3
print(Cidades.iloc[1:4])

   Nome da Cidade  UF  Habitantes (M)  É Capital
1  Rio de Janeiro  RJ             6.7       True
2  Belo Horizonte  MG             2.5       True
3    Porto Alegre  RS             1.5      False

In [57]:
# Apenas UF e Habitantes (M) das linhas 0 e 4
print(Cidades.iloc[0:5:4, [1,2]])

   UF  Habitantes (M)
0  SP            12.3
4  PR             1.9