In [30]:
#Series chamada temperaturas com os valores

In [31]:
import pandas as pd
import numpy as np

In [32]:
# Criar a Series de temperaturas com índices personalizados
temperaturas = pd.Series([22, 25, 19, 28, 23], index=['Seg', 'Ter', 'Qua', 'Qui', 'Sex'])

In [33]:
# Exibir a Series completa
print("Temperaturas:\n", temperaturas)

Temperaturas:
 Seg    22
Ter    25
Qua    19
Qui    28
Sex    23
dtype: int64

In [34]:
# Acessar e exibir a temperatura de 'Qua'
print("\nTemperatura de Qua:", temperaturas['Qua'])

Temperatura de Qua: 19

In [35]:
# Acessar e exibir temperatura de 'Seg' e 'Sex'
print("\nTemperatura de Seg e Sex:\n", temperaturas[['Seg', 'Sex']])

Temperatura de Seg e Sex:
 Seg    22
Sex    23
dtype: int64

In [36]:
# Alterar a temperatura de 'Ter' para 26
temperaturas['Ter'] = 26
print("\nTemperaturas após alteração:\n", temperaturas)

Temperaturas após alteração:
 Seg    22
Ter    26
Qua    19
Qui    28
Sex    23
dtype: int64

In [37]:
# Multiplicar todos os valores por 1.5
temperaturas2 = temperaturas * 1.5
print("\nTemperaturas multiplicadas por 1.5:\n", temperaturas2)

Temperaturas multiplicadas por 1.5:
 Seg    33.0
Ter    39.0
Qua    28.5
Qui    42.0
Sex    34.5
dtype: float64

In [38]:
# Exibir apenas temperaturas maiores que 24
temperaturas_maiores_24 = temperaturas[temperaturas > 24]
print("\nTemperaturas maiores que 24:\n", temperaturas_maiores_24)

Temperaturas maiores que 24:
 Ter    26
Qui    28
dtype: int64

In [39]:
# Criar Series de estoque com um valor NaN
estoque = pd.Series(
    [100, 150, np.nan, 80, 120],
    index=['Produto A', 'Produto B', 'Produto C', 'Produto D', 'Produto E']
)
print("\nEstoque:\n", estoque)

Estoque:
 Produto A    100.0
Produto B    150.0
Produto C      NaN
Produto D     80.0
Produto E    120.0
dtype: float64

In [40]:
# Verificar quais elementos são nulos
nulos = estoque.isnull()
print("\nElementos nulos no estoque:\n", nulos)

Elementos nulos no estoque:
 Produto A    False
Produto B    False
Produto C     True
Produto D    False
Produto E    False
dtype: bool